.main{
      padding-left: 20%;
      padding-top: 6%;
}

.title{
   
      padding-left: 30%;
      padding-top: 3%;
}

.font_title{

    margin-left: auto;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    font-size: 30px;

}
.heading{
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding-left: 7%;
  }
  #title{
      margin-left: 10%;
      margin-top: 2%;
      font-size: 36px;

  }
  .full_header{
      padding-top: 4%;
  }
