<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Area</title>
</head>
<br>

<body>
      <br>
      <!-- Header -->

      <div class="heading">
            <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
            <h1 id="title">Area around NCF</h1>
      </div>
      <hr style="height:2px;border-width:5;color:blue;background-color:gray">
      <div class="pageContent">
            <div>
                  <div class="banner">
                        <h1><b> Eateries Near Novoland:</b></h1>
                  </div>
                  <h1>
                        <p> <b> Captain Brian's Seafood Market & Restaurant </b></p>
                  </h1>
                  <ul class="content">
                        <div>
                              <li> Service options: Dine-in · Curbside pickup · Delivery </li>
                              <li>Address: 8421 N Tamiami Trail, Sarasota, FL 34243</li>
                              <li>Hours: Closes soon ⋅ 8PM ⋅ Opens 11AM Wed</li>
                              <li>Options for vegan and vegetarians, plus gluten-free options </li>
                              <h4> <b> Menu: </b> <a
                                          href=" http://www.captainbriansseafood.com/seafood-dishes-sarasota-fl-lunch-menu"
                                          target="_blank">Captain Brian's</a></h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.527222941325!2d-82.5615795848382!3d27.390476782924146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd65acbdb77%3A0xcebd4c04d76f8a5b!2sCaptain%20Brian&#39;s%20Seafood%20Market%20%26%20Restaurant!5e0!3m2!1sen!2sus!4v1678240436175!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <h1>
                        <p> <b> Mama G's Coffee Bakery </b></p>
                  </h1>
                  <ul class="content">
                        <div>
                              <li> Service options: Dine-in · Curbside pickup · Delivery </li>
                              <li> Address: 8431 N Tamiami Trail #2015, Sarasota, FL 34243</li>
                              <li>Hours: Monday-Saturday 6AM- 4PM, closed Sunday</li>
                              <h4> <b> Menu: </b> <a href=" https://www.mamagscoffee.com/" target="_blank">Mama G's
                                          Coffee
                                          Bakery</a>
                              </h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.5223342427325!2d-82.56163918483824!3d27.390629382924175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd65ddb5171%3A0x5d94b455b9ebc881!2sMama%20G&#39;s%20Coffee%20Bakery!5e0!3m2!1sen!2sus!4v1678240413111!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <h1>
                        <p> <b> Rico's Pizzeria And Pasta House</b></p>
                  </h1>
                  <ul class="content">
                        <div>
                              <li> Service options: Dine-in · Takeout · Delivery</li>
                              <li>Address: 5401 Bay Shore Road McKay Visitor's Pavilion, Sarasota, FL 34243</li>
                              <li>Hours: Monday-Sunday 11AM-10PM</li>

                              <h4> <b> Menu: </b> <a href="https://www.ricospizzapie.com/rico-s-tamiami-trail"
                                          target="_blank">Rico's Pizzeria And Pasta
                                          House</a></h4>

                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.1910870987494!2d-82.49881208483609!3d27.494432082880568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33c8ca347a34f%3A0xee5ccac24cc61e94!2sRico&#39;s%20Pizzeria%20%26%20Pasta%20House!5e0!3m2!1sen!2sus!4v1678240364211!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
            </div>

      </div>

      <hr>

      <div class="pageContent">
            <div>

                  <h1>FUN PLACES</h1>
                  <h1>
                        <h1>
                              <p> <b> Smugglers Cove Adventure Golf</b></p>
                        </h1>
                  </h1>
                  <ul class="content">
                        <div>
                              <li>Address: 3815 N Tamiami Trail, Sarasota, FL 34234</li>
                              <li>Hours: Monday-Sunday 9AM-11PM</li>

                              <h4><a href="https://www.toasttab.com/local/order/smugglers-cove-adventure-golf-sarasota/r-568b9ce1-5821-46b9-9b20-cda157caa7de?diningOption=takeout&rwg_token=AI9VzbvmldQh5qNmfoq0g1HCP9ryZsWnNMWUWGf-He421CPCfKr2ugeawPDtISSIDoyMMH0x38j_pIQC3tWs2zvrrFqXyn0aXw%3D%3D"
                                          target="_blank">Order</a></h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.243574720545!2d-82.55460898483871!3d27.36810748293349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fe5ddf64b3b%3A0x5eee56479d450e5b!2s3815%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678240330720!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
                  <h1>
                        <p> <b> Mote Marine Laboratory & Aquarium</b></p>
                  </h1>
                  <ul class="content">
                        <div>
                              <li>Address: 1600 Ken Thompson Pkwy, Sarasota, FL 34236</li>
                              <li>Hours: Monday-Sunday 9:30AM-5PM</li>


                              <h4><a href="https://mote.org/" target="_blank">Mote</a></h4>

                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3544.3699614562183!2d-82.57951608483936!3d27.332899982948536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c36abc24d154d9%3A0xb717a15be2e5d9c7!2s1600%20Ken%20Thompson%20Pkwy%2C%20Sarasota%2C%20FL%2034236!5e0!3m2!1sen!2sus!4v1678240842123!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
                  <h1>
                        <p> <b> Cat Depot</b></p>
                  </h1>
                  <ul class="content">
                        <div>
                              <li>Address: 2542 17th St, Sarasota, FL 34234</li>
                              <li>Hours: Monday-Sunday 10AM-6PM</li>

                              <h4><a href="https://catdepot.org/" target="_blank">Cat Depot</a></h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.762411518194!2d-82.52153348483904!3d27.35189538294036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33f8031f0e23b%3A0x3d210e4dedc87c88!2s2542%2017th%20St%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678240947564!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b> The John and Mable Ringling Museum of Art</b></p>
                              </h1>
                              <li>Address: 5401 Bay Shore Rd, Sarasota, FL 34243
                              </li>
                              <li>Hours: Monday-Sunday 10AM-5PM</li>

                              <h4><a href="https://www.ringling.org/museum-art" target="_blank">The Ringling</a></h4>

                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.7812757324214!2d-82.56291368483842!3d27.38254548292762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd88adcf783%3A0x74e5657f2911eb8f!2s5401%20Bay%20Shore%20Rd%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678241095517!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b> Sarasota Jungle Gardens</b></p>
                              </h1>
                              <li>Address: 3701 Bay Shore Rd, Sarasota, FL 34234</li>
                              <li>Hours: Monday-Sunday 10AM-4PM</li>

                              <h4><a href="https://sarasotajunglegardens.com/" target="_blank">Sarasota Jungle
                                          Gardens</a>
                              </h4>

                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1771.624960315348!2d-82.55761634184867!3d27.367909245733458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fe3f7c6977d%3A0x47f084574f8ab2b7!2s3701%20Bay%20Shore%20Rd%2C%20Sarasota%2C%20FL%2034234!5e0!3m2!1sen!2sus!4v1678241367085!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
            </div>
      </div>
      <hr>
      <br>

      <div class="pageContent">
            <div>

                  <ul>

                        <h1>
                              <p> <b> Sarasota County Transit (SCAT)</b></p>
                        </h1>
                        <li>For Paratransit reservations call 844-879-7340; press 1 for reservations.

                        <li> Monday - Thursday from 7 a.m. to 5 p.m.
                              Friday from 7 a.m. to 4:45 p.m. </li>
                        <li> (last reservation call is taken at 4:45 p.m.)</li>


                        <li>
                              <h4><a href="https://www.scgov.net/government/departments/scat-bus-service/contact-scat"
                                          target="_blank">SCAT</a></h4>
                        </li>
                        <li>
                              <h4><a href="https://scatmyride.tripsparkhost.com/RouteMap" target="_blank">Routes</a>
                              </h4>
                        </li>
                  </ul>
            </div>
      </div>

      <hr>
      <br>
      <div class="pageContent">
            <div>
                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b> New College of Florida Food Forest/Carbon Farm</b></p>
                              </h1>

                              <p>Students worked throughout the 2015-2016 school year to plant a Food Forest/Carbon Farm
                                    on
                                    the Caples Campus.It was officially planted on May 20, 2016, with over 50 different
                                    species of fruiting trees, edible greens, wildflowers, starch crops and spices. The
                                    Food
                                    Forest/Carbon Farm represents New Colleges commitment to finding innovative
                                    solutions to
                                    tough issues, as the Food Forest provides food for the campus, provides habitat for
                                    wildlife increasing local biodiversity and pollinators, facilitates study in a range
                                    of
                                    academic disciplines ranging from ecology to anthropology, all while sequestering
                                    excess
                                    carbon from the atmosphere to help mitigate climate change</p>
                              <h4><a href="https://www.facebook.com/NCFFoodForest/" target="_blank">NCF Food Forest
                                          Facebook</a></h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d523.9140251518385!2d-82.56332356165105!3d27.380729285412404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd84a21cd47%3A0x62411661ed73e175!2sNew%20College%20of%20Florida!5e1!3m2!1sen!2sus!4v1678244224572!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
            </div>
      </div>
      <hr>
      <br>
      <div class="pageContent">
            <div>

                  <div class="font_placement">
                        <h1> <b> Groceries </b> </h1>
                  </div>

                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b> Whole Foods Market </b></p>
                              </h1>

                              <li>Address: 1451 1st St, Sarasota, FL 34236</li>
                              <li>Hours: Monday-Sunday 8AM-9PM</li>
                              <h4><a href="https://www.wholefoodsmarket.com/online-ordering" target="_blank">Whole Foods
                                          Order
                                          Online</a>
                              </h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d984.8410228906257!2d-82.54194374512144!3d27.337693867914663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c34012ba246c8f%3A0x139508f7a9ebea23!2s1451%201st%20St%2C%20Sarasota%2C%20FL%2034236!5e1!3m2!1sen!2sus!4v1678245260224!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b>Walmart Neighborhood Market</b></p>
                              </h1>

                              <li>Address: 3500 N Tamiami Trail, Sarasota, FL 34234</li>
                              <li>Hours: Monday-Sunday 6AM-11PM</li>
                              <h4><a href="https://www.walmart.com/store/3066-sarasota-fl" target="_blank">Walmart</a>
                              </h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.1481370595343!2d-82.55232448483875!3d27.366844582934196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fef69bfcde7%3A0x59385920a8ebd0e4!2s3500%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034234!5e1!3m2!1sen!2sus!4v1678245428756!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b>Publix Super Market at Broadway Promenade</b></p>
                              </h1>

                              <li>Address: 1044 N Tamiami Trail, Sarasota, FL 34236</li>
                              <li>Hours: Monday-Sunday 7AM-9PM</li>
                              <h4><a href="https://www.publix.com/?utm_medium=maps&utm_source=extendednetwork&utm_content=psm_website_url"
                                          target="_blank">Publix Super Market at Broadway Promenade</a>
                              </h4>
                              <h4><a href="https://www.instacart.com/store/publix/storefront" target="_blank">Order
                                          Online</a>
                              </h4>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.832948362581!2d-82.54839738483915!3d27.346351082942743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c34009664e0405%3A0x9139fa145f39cf22!2s1044%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034236!5e1!3m2!1sen!2sus!4v1678245718678!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

                  <ul class="content">
                        <div>
                              <h1>
                                    <p> <b>Food Mart</b></p>
                              </h1>

                              <li>Address: 6000 N Tamiami Trail, Sarasota, FL 34243</li>
                        </div>
                        <iframe class="map"
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d618.7060500678126!2d-82.55840729576971!3d27.38655708144317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd763d74f17%3A0x45432694abb518ff!2s6000%20N%20Tamiami%20Trail%2C%20Sarasota%2C%20FL%2034243!5e1!3m2!1sen!2sus!4v1678246036387!5m2!1sen!2sus"
                              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                              referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>

            </div>
      </div>
</body>

</html>