<div class="log">
      <div class="main">
            <div class="navibar">
                  <div class="icon">


                  </div>
            </div>

            <div class="content">
                  <h1>NuPath & <span> NuNovos </span> <br><br> Journey to NovoLand
                  </h1>
                  <br>
                  <p class="par">Thank you for choosing NuPath! This applications will help <br> you with all of your
                        college
                        needs. From eateries around New College <br> to cool hangout areas like Mote Marine. Are you
                        worried about your <br>
                        home for the next four years? Check out the dorm tab,
                        which will allow <br> you to watch Youtube videos of the dorm rooms. <br> Are you worried
                        about supplies? We got you! Check out the Amazon wish list. <br> NuPath
                        has a lot more so please navigate your way around and welcome to New College!

                  </p>
                  <div class="button"><a class="button" href="login">Login Page</a></div>
            </div>
      </div>
      <script src=" https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>