<div class="Enter_Page">
    <div class="full_header">
        <div class="heading">
            <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
            <h1 id="title">Facilities and Events</h1>
        </div>
        <hr style="height:2px;border-width:5;color:blue;background-color:gray">
    </div>
    <div class="pageContent">
        <div class="text">
            <p>This is a link to the list of events for NCF: <br>
                This shows upcoming events based on date, and you can sort through for certain types of events if you
                want.
                <br>
                <a href="https://www.ncf.edu/events/" target="_blank" class="link">Events</a> <br>
            </p>

            <p>This is a link to NCF's recreation center's website<br>
                Some info about the facilities of New College:
                facilities include a beautiful 25-meter swimming pool, hot tub, an indoor wood-floored racquetball
                court,
                two spacious wood-floored dance and exercise rooms, a lighted basketball court, two lighted tennis
                courts,
                a multipurpose playing field and softball diamond, and a fitness path. <br> You can find more on the
                official
                website! <br>
                <a href="https://www.ncf.edu/life-at-new/health-well-being/campusrec/rec-center/" target="_blank"
                    class="link">Recreation center</a>
            </p>
            <br>
            <p>The New College Waterfront Program and Sailing Team is located on the historic Caples Campus behind the
                Mildred
                Sainer Arts Pavilion
                at 5313 Bay Shore Road.This is just south of The John & Mable Ringling Museum of Art. <br>
                This is a link to the NCF Bayfront novoconnect. This will contain information about any upcoming events
                occuring
                on the bayfront <br>

                <a href="https://novoconnect.ncf.edu/organization/waterfront" target="_blank" class="link">Bayfront</a>
            </p>
            <br>

            <button class="important" hidden>Have you looked at all the events?</button>

            <div class="notes" hidden>
                <p [contentEditable]="true">Note down the events you find interesting!</p>
                <input type="submit" name="Add note" id="addnote" value="Add Note">
            </div>
        </div>
    </div>
</div>
<footer>
    <br>
    <br>
    <br>
    <p>Copyright &copy; 2023 cheesecake-cat</p>
</footer>