<!DOCTYPE html>
<html>

<body>
      <div class="full_header">
            <div class="heading">
                  <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
                  <div class="header_title">
                        <h1 id="title">Wishlist</h1>
                  </div>
            </div>
      </div>
      <hr style="height:2px;border-width:5;color:blue;background-color:gray">
      <img src="assets\Imgs\AmazonWishList.png" alt="">

      <h4> <b></b> <a href=" https://www.amazon.com/ideas/amzn1.account.AHWPHSBH4VZRO6OKVAHYXI333O7Q"
                  target="_blank">Amazon Wish List</a></h4>
      <label class="container"> 1. Matein Travel Laptop Backpack, Business Anti Theft Slim Durable Laptops Backpack with
            USB
            Charging Port, Water
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
      </label>
      <label class="container">
            2. Office Chair Ergonomic Desk Chair - Mesh Back Adjustable Height Computer Chair with Lumbar Support and
            Flip-up
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">
            3. Power Strip, SUPERDANNY Surge Protector with 22 AC Outlets and 6 USB Charging Ports, 1875W/15A, 2100
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            4. Logitech Brio 4K Webcam, Ultra 4K HD Video Calling, Noise-Canceling mic, HD Auto Light Correction, Wide
            Field
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            5. LoCelestron - StarSense Explorer LT 114AZ Smartphone App-Enabled Telescope – Works with StarSense App to
            Help You Find Stars, Planets & More – 114mm Newtonian Reflector – iPhone/Android Compatible

            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            6. Brakula Lemon & Verbena Fragrance Reed Oil Diffuser Set with 10 Sticks for Bedroom Bathroom Office Decor
            ,
            6.1 oz /180ml
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">
            7. Plugable USB 3.0 and USB-C Dual 4K Display Docking Station with DisplayPort and HDMI for Windows and Mac
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            8. Disney Lilo & Stitch Not Today Stitch T-Shirt
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            9. Wise Home Products Color Changing Corner Lamp - Modern RGB Multicolored Light - Amazing Minimalist
            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">

            10. CableCreation USB C to DisplayPort Adapter 8K@30Hz/4K@144Hz, USB Type C to DP 1.4 Cable Adapter
            [Thunderbolt
            3/4 Compatible] for Oculus Rift S, Valve Index, Mac Mini 2018, MacBook Pro/Air 2020, XPS

            <input type="checkbox">
            <span class="checkmark"></span>
      </label>
      <label class="container">
            11. LG 27GN950-B UltraGear Gaming Monitor 27” UHD (3840 x 2160) Nano IPS Display, 1ms Response Time, 144Hz
            Refresh Rate, G-SYNC Compatibility, AMD FreeSync Premium Pro,

            <input type="checkbox">
            <span class="checkmark"></span>
      </label>

      <footer>
            <br>
            <br>
            <br>
            <p>Copyright &copy; 2023 cheesecake-cat</p>
      </footer>
</body>

</html>