.text{
    padding-left: 5%;
}

.link{
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 3%;
    padding-left: 4%;
}
#title{
    margin-left: 18%;
    margin-top: 2%;
    font-size: 40px;
    
}