<div class="heading">
    <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
    <h1 id="title">Student Organizations</h1>
</div>
<hr style="height:2px;border-width:5;color:blue;background-color:gray">
<div class="text">
    <p>If you're interested in joining a student organization then the best place to check would be novoconnect.
        It has a list of all registered student organizations and also has more information about all of them. <br>
        <a href="https://novoconnect.ncf.edu/organizations" target="_blank" class="link"> novoconnect: organizations</a>
    </p>


</div>