<div class="log">
    <div class="slideshow-container">

        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-1.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-2.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-3.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-4.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-5.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-6.jpg" alt="Loading">
        </div>
        <div class="mySlidesfade">
            <img class="img" src="\assets\Imgs\meme-7.jpg" alt="Loading">
        </div>

    </div>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>