.title{
  padding-left: 38%;
  padding-top: 8%;
  color: white;
}

.log{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../../../assets/Imgs/dino.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  background-position-x: center;
  margin: auto;
  }