<div class="log">
      <div class="full_header">
            <div class="heading">
                  <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
                  <h1 id="title">Dorms</h1>
            </div>
      </div>
      <div style="text-align: center;">
            <h1>
                  <hr size="5" color="blue"> Dort and Goldstein Residence Halls
            </h1>

            <div class="font_size">

                  <p> The Dallas & Elizabeth Dort and Ann & Alfred Goldstein Residence Halls provide accommodations for
                        approximately 150
                        students in apartment-style suites, each including its own living room, kitchenette and bathroom
                        facilities.
                        The Dort and Goldstein Residence Halls are located near the Recreation Center on the Pei Campus.
                        The
                        apartment
                        bedrooms in this area are approximately 12′ x 9′ and are either three or four bedrooms.</p>

            </div>
            <div class="frame">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/7RYefuH3laI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>

            <br>
            <br>
            <hr size="5" color="blue">
            <h1>I.M. Pei Residence Halls</h1>
            <div class="font_size">

                  <p>Most first-year students are required to live in the Pei Residential Complex.
                        These three buildings, which were designed by the internationally renowned architect I.M. Pei
                        and
                        formally
                        named
                        Bob Johnson Hall, Peggy Bates Hall, and Elaine & Harvey Rothenberg Hall, are often referred to
                        as Pei
                        1st
                        Court,
                        2nd Court, and 3rd Court.</p>
            </div>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/T_y-qA98WrI"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
            <hr size="5" color="blue">

            <h1>Y Dorm</h1>
            <div class="font_size">
                  <p>The Lee & Bob Peterson Residence Hall, Ulla R. Searing Residence Hall, and the V and Y residence
                        halls
                        are
                        lodge-style structures that feature studio, two- and three-bedroom apartments, each with its own
                        kitchenette
                        and
                        bathroom. The halls feature a dramatic two-story floor plan with central common areas, timbered
                        ceilings,
                        and a
                        keyless entry system.
                        These side-by-side residence halls are sometimes called “Letter Dorms” because they were
                        originally
                        designated as
                        V, W, X, and Y Dorms before two were officially named. The apartment bedroom</p>


                  <iframe width="560" height="315" src="https://www.youtube.com/embed/s2z2N1FHKAI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                  <hr size="5" color="blue">
                  <h1>Z Dorm</h1>

                  <iframe width="560" height="315" src="https://www.youtube.com/embed/s2z2N1FHKAI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                  <hr size="5" color="blue">
                  <h1>Palmer B Dorm</h1>
                  <p>Located on our historic Bayfront campus, Palmer B Dormitory, which is usually referenced as “B
                        Dorm”,
                        houses 32
                        students in single bedrooms with common lounges and bathrooms. Because of its somewhat secluded
                        location on
                        campus, B Dorm is popular among thesis students and is known for the community spirit that
                        develops
                        among
                        its
                        residents. Bedrooms come in two sizes: approximately 12 x 8 and 16 x 12.</p>

                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JcNE9YrMsBM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
      </div>
</div>
<footer>
      <br>
      <br>
      <br>
      <p>Copyright &copy; 2023 cheesecake-cat</p>
</footer>