mat-toolbar {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    a {
      color: white;
      text-decoration: none;
      &.active-link {
        color: rgba(152, 16, 16, 0.348);
      }
      span {
        margin-left: 24px;
      }
    }
  }

  .easter_egg{
    color: rgb(63, 81, 181);
    background-color: rgb(63, 81, 181);
    border-radius: 100%;
    transition: none;
    font-size: 25%;
    
.menu_color{
  color: blue;
  background-color: blue;
}
  }
  #more_egg{
    color: rgb(98, 95, 99);
  }

  #complicated{
    color: white;
  }

  *{
    margin: 0px;
    padding: 0;
  }
  .dropresource{
  background-color: rgb(63, 81, 181);
  color: white;
  font-size: 20px;
  border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(63, 81, 181);}

.navbar{
  display: flex;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar{
    width: 50%;
    height: 320px;
  }
 }