<div class="pageContent">
    <div class="full_header">
        <div class="heading">
            <img id="pic" src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
            <h1 id="title">Faculty</h1>
        </div>
    </div>
    <hr style="height:2px;border-width:5;color:blue;background-color:gray">
    <div class="text">

        <p>The faculty are the teachers and administators who work at New College who are always willing to give a
            helping
            hand. <br>
            If you ever run into trouble, you should know who to ask for help.</p>
        <div id="fac">
            <p>This is a link to the faculty directory, where you can search for a specific faculty member. <br>
                <a href="https://www.ncf.edu/directory/" target="_blank" class="link">Faculty directory </a>
            </p>
            <br>
        </div>
        <div id="dep">
            <p>This is a link to the department directory, where you can search for a specific department, which will
                give
                you more
                information about it. <br>
                <a href="https://www.ncf.edu/departments/" target="_blank" class="link">Department directory </a>
            </p>

        </div>

    </div>
    <div class="click_button">
        <button>Did you click the links?</button>
    </div>
</div>
<footer>
    <br>
    <br>
    <br>
    <p>Copyright &copy; 2023 cheesecake-cat</p>
</footer>