<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>

<div class="full_header">
    <div class="heading">
        <img src="\assets\Imgs\NewCollegeLogo.jpg" alt="Can't Load">
        <h1 id="title">Hamilton Cafe</h1>
    </div>
    <hr style="height:2px;border-width:5;color:blue;background-color:gray">
</div>
<div class="heading">
    <div class="text">
        <div>
            <p>The hamilton cafe is the main source of food inside of NCF, it's located in the Hamilton center and
                serves various foods. <br>
                The hours of the cafe are: </p>
            <ul>
                <li> Breakfast: Monday - Friday | 8:00am - 10:00am </li>
                <li>Lunch: Monday - Friday | 11:00 - 2:00 p.m. </li>
                <li> Dinner: Monday - Friday | 4:30 - 7:00 p.m. </li>
                <li>Saturday & Sunday | 4:30 - 6:30 p.m. </li>
                <li>Brunch: Saturday &
                    Sunday | 11:00 a.m. - 1:00 p.m.</li>
            </ul>
            <p>The menu changes daily, but you can find the weekly meal plan in this link: <br>
                <button (click)="updateBoard()">
                    <a href="https://www.nutritics.com/menu/ma4021" target="_blank" class="link">Ham meal plan</a>
                </button>

            </p>