.heading{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 4%;
  padding-left: 3%;
}


.link{
    font: bold 11px Arial;
  text-decoration: none;

}
.logo_image{
  padding-top: 0%;
}
.text{
    padding: auto;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}
#title{
  margin-left: 20%;
  font-size: 40px;
  padding-left: 3%;
  padding-top: 2%;
  
}
.full_header{
  padding-top: 1%;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

